<div class="page-caption">
  <h2>Top Searches From Around The World </h2>
  <hr>
</div>

<div class="row">
  <% for i in top_searches do %>
  <% i["urlToImage"]? image = i["urlToImage"] : image = 'news_2.jpg'  %>
  <%= link_to i['url']  do %>
  <div class="col-sm-6 col-lg-3 py-2 h-100">
    <div class="card border-success hvr-bounce-in my-3">
      <div class="card-img-top img-fluid">
        <%= image_tag image_url(image), alt: "Edit Entry" %>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to (i['url']) do %>
          <%= i['title'].truncate(50) %>
          <% end %>
        </h5>
        <hr>
        <div class="news-author">
          <h6><i>written by</i>
          </h6>
          <h5>
            <%= i["author"] ? i["author"] : "Unkown author" %>
          </h5>
        </div>
        <hr>
        <div class="news-source">
          <% source = i["source"] %>
        </div>
        <div class="news-source-name">
          <%= source ? source["name"] : "Unkown" %>
        </div>
        <div class="news-content">
          <p class="card-text">
            <% i["content"]? i["content"].split[0..10].join(''): "Content Unavailable" %><br />
          </p>

        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
  <% end %>

  <% end %>
</div>