
<h2>Recomended News </h2>



<%= render partial: 'top_stories', locals: { top_headlines: @top_headlines } %>




<h2>Top Searches </h2>
<div class="row" >
<% for i in @top_headlines["articles"][1..4] do %>
  <% i["urlToImage"]? image = i["urlToImage"] : image = "/Page-under-construction.png"  %>
    <div class="col-sm-3">
      <div class="card">
          <%= image_tag image , class: "card-img-top", alt: "Edit Entry" , style: "hieght:100%;width:100%;overflow:hidden;" %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to (i['url']) do %>
                    <h4><%= i['title'] %></h4>
                      <% end %>
                   <p>
            </h5>
            <p class="card-text">
              <h6 class="card-title"><%= i['title'] %></h6>
              <%= i["author"] %><br/>
              <% source = i["source"] %>
              <%= source ? source["name"] : "Unkown" %><br/>
              <%= i["content"]? i["content"].split[0..10].join(' '): "Content Unavailable" %><br/>

                 <p>
                   <%= link_to i['url'] , class:"btn btn-primary" do %>
                     <span>Read More...</span>
                       <% end %>
          </div>
</div>
</div>
<% end %>
</div>
