<%= form_with(model: usersearch, local: true) do |f| %>


<div class="form-group">
  <%= f.label :keyword  %><br />
  <%= f.text_field :keyword , placeholder: "Enter Search Term" , :required => true , class: "form-control"%>
</div>


 <div class="form-group">
   <%= f.label :news_source %><br />
   <%= f.collection_select :news_source, NewsSource.order(:name), :id, :name, include_blank: true , class: "form-control" %>
 </div>

<div class="form-group">
  <%= f.label :category %><br />
  <%= f.collection_select :category, Category.order(:name), :id, :name, include_blank: true , class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :country %><br />
  <%= f.collection_select :country, Country.order(:name), :id, :name, include_blank: true  , class: "form-control"%>
</div>
<div class="form-group">
  <%= f.label :language %><br />
  <%= f.collection_select :language, Language.order(:name), :id, :name, include_blank: true  , class: "form-control"%>
</div>


<div class="actions"><%= f.submit "Search" , class:"btn btn-primary" %></div>
<% end %>
