<div class="page-caption">
        <h2>News from your search Keyword </h2>
        <hr>
</div>
<div class="container">
        <% if @results != false && @results["status"] = "OK"  %>

        <p> Your search returned
                <b>
                        <%= @results["totalResults"] %></b> results </p>

        <h3>Top News for
                <%= @keyword %>
        </h3>

        <%= render partial: 'news/top_stories', locals: { top_headlines: @top } %>
        <hr>

        <h3>General Results</h3>
        <% for i in @results["articles"] do %>
        <div class="search-results">
                <%= link_to i['url'] do %>
                <h4>
                        <%= i['title'] %>
                </h4>
                <% end %>
                <h6>
                        <% source = i["source"] %>

                        <%= source["name"] %> |
                        <%= i["author"] %><br />
                </h6>
                <h5>
                        <%= i["content"] ? i["content"].truncate(200, omission: '... (click the link to read more)') : "Content Unavailable" %>
                </h5>
                <hr>
        </div>
        <% end %>

        <% else %>
        <p>Search error </p>
        <% end %>
</div>