<h1>News</h1>
<% if @results["status"] = "OK" %>

<p>Search returned <%= @results["totalResults"] %>  results </p>

<%   # render partial: "news/top_stories" , headlines: @top_headlines %>

<% for i in @results["articles"] do %>

<%= link_to (i['url']) do %>
      <h4><%= i['title'] %></h4>
        <% end %>
     <p>
      <p>

          <% source = i["source"] %><br/>
          <%= source["name"] %><br/>
          <%= i["author"] %><br/>
          <%= i["content"] %><br/>
          <br/>
      </p>
<% end %>

<% else %>
  <p>Search error </p>
<% end %>
