<header class="row">
  <nav class="navbar navbar-inverse fixed-top navbar-expand-lg">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/assets/index.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Newscharts
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Home', root_path, :class => "active nav-item" %>
      </li>
      <li>
        <%=link_to 'News Statistics', statistics_index_path, :class => " nav-item" %>
      </li>
      <li class="">
      </li>
    </ul>


    <div class="pull-right">

      <%= form_tag(usersearches_create_path, method: "get", class:"navbar-form navbar-left") do %>
      <div class="input-group">
        <%= text_field_tag(:q ,   @keyword , placeholder:"Search" , class:"form-control" ) %>
        <div class="input-group-btn">

          <%= button_tag( 'search' , class:"btn btn-success") do %>

          <i class="glyphicon glyphicon-search"></i>
          <% end %>
        </div>
      </div>
      <% end %>


      <div class="btn ">
        <%= link_to 'Advanced Search', new_usersearch_path, :class => "btn btn-success" %>
      </div>
      <%= link_to 'Geo Search', geomap_geocontinent_path, :class => " btn btn-success" %>
    </div>

  </nav>
</header>