<nav class="navbar navbar-inverse fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newscharts</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Home', root_path, :class => "active" %>
      </li>
      <li>
        <%=link_to 'Stats', statistics_index_path %>
      </li>
    </ul>


    <%= form_tag( usersearches_search_path, method: "get", class:"navbar-form navbar-left") do %>
    <div class="input-group">
      <%= text_field_tag(:q ,   @keyword , placeholder:"Search" , class:"form-control" ) %>
      <div class="input-group-btn">
        <%= button_tag( 'search' , class:"btn btn-default") do %>
        <i class="glyphicon glyphicon-search"></i>
        <% end %>
      </div>
    </div>
    <% end %>


    <div class="btn">
      <%= link_to 'Advanced Search', new_usersearch_path, :class => "btn btn-default" %>
    </div>
  </div>
</nav>